.hour{
    text-align: center;
    font-size: 5.25em;
}

.buttons{
    text-align: center;
}

.button{
    padding: 1em;
    margin: 0.20em;
    cursor: pointer;
}

.finish{
    text-align: center;
    font-size: 2em;
    background-color: #088636;
    padding: 0.3em;
}

.error{
    text-align: center;
    font-size: 2em;
    background-color: #b81936;
    padding: 0.3em;
}

.form-control{
    padding: 1em;
    width: 3em;
}

.form-group{
    text-align: center;
    padding: 1em;
}