<div>   
    <div class="form-group">
        <p>Introduzca el tiempo para su temporizador</p>
        <span> Hora: </span><input type="number" class="form-control" [(ngModel)]='hour' >
        <span> Minutos: </span><input type="number" class="form-control" [(ngModel)]='minutes' >
        <span> Segundos: </span><input type="number" class="form-control" [(ngModel)]='segunds' >
        
        <p class="hour">{{hour}}:{{minutes}}:{{segunds}}</p>
    </div>

    <div class="buttons">
        <button (click)="iniciar()" class="button" >{{ onOff==true? 'Iniciar':'Pausar' }}</button>
        <button (click)="detener()" class="button">Detener</button>
    </div>   

    <p class="error" *ngIf="error?.length>0 ">{{error}}</p>
    <p class="finish" *ngIf="finish?.length>0 ">{{finish}}</p>
</div>