.navbar{
    text-align: center;
}

.navbar div{

    background-color: #0d0f14;

    padding: 1em;
    margin: 0.50em;

    /* IMPORTANTE */
    display: inline-block;

    a {
        color: white;
        text-decoration: none;
    }
}
