<div class="navbar">
    <div><a routerLink="/reloj">Reloj</a></div>
    <div><a routerLink="/cronometro">Cronometro</a></div>
    <div><a routerLink="/cuenta-atras">Cuenta Atras</a></div>
</div>
  
<router-outlet></router-outlet>