<div>   
    <p class="hour">{{hour}}:{{minutes}}:{{segunds}}</p>

    <div class="buttons">
        <button (click)="iniciar()" class="button" >{{ onOff==true? 'Iniciar':'Pausar' }}</button>
        <button (click)="lapso()" class="button">Lapso</button>
        <button (click)="detener()" class="button">Detener</button>
    </div>
    <hr>
    <p *ngFor="let lapso of lapsoTimer ; let i= index">        
        #{{i+1}} = {{lapso.hour}}:{{lapso.minutes}}:{{lapso.segunds}}
    </p>
</div>